body {
}

.blow-up {
  font-size: 6em;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* change the URL to a picture of your choice - the higher quality the better! */
.business-header {
	background-size: cover;
  position: relative;
}

.business-header h3 {
  margin-bottom: 60px;
	text-shadow: 0 0 5px #000;
	color: #fff;
}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
  margin-top: 100px;
}

footer {
	margin: 50px 0;
}

.business-header {
  width: 100%;
  height: 100%;
  background: url('../images/steel-tile.jpg') repeat;
  z-index: -3;
  color: white;
}
.business-header video {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
}
.business-header2 img {
  display: block;
  width: 100%;
}

#wooden-seperator {
  height: 100px;
}

[class^="btn-"] {
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4), inset 0px 1px rgba(255, 255, 255, 0.2);
  padding: 14px 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color ease .2s, box-shadow ease .2s;
  -moz-transition: background-color ease .2s, box-shadow ease .2s;
  transition: background-color ease .2s, box-shadow ease .2s;
}

#links li {
  list-style-type: none;
}

.btn-main {
  background-color: #e74c3c;
}
.btn-main:hover {
  background-color: #d62c1a;
}
.btn-main:active {
  background-color: #a82315;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 1px rgba(255, 255, 255, 0.2);
}

body.mac .dl-win,
body.mac .dl-lin-32,
body.mac .dl-lin-64,
body.win .dl-mac,
body.win .dl-lin-32,
body.win .dl-lin-64,
body.lin-32 .dl-mac,
body.lin-64 .dl-mac,
body.lin-32 .dl-win,
body.lin-64 .dl-win,
body.nope .dl-win,
body.nope .dl-mac {
  display: none !important;
}

body .dl-win, body .dl-lin-32, body .dl-lin-64 {
  display: none !important;
}

body.win .dl-win {
  display: inline-block !important;
}

body.lin-32 .dl-lin-32,
body.lin-64 .dl-lin-64 {
  display: inline-block !important;
}